<ul class="list">
  {{#each books}}
    <li>
        <h2>{{name}}</h2>
        <h3>{{author}}</h3>
        <h4>{{year}}</h4>
        <h4>{{genre}}</h4>
    </li>
  {{/each}}
</ul>

{{#each posts}}
<div class="post">
<h2>{{title}}</h2>
<p>{{text}}</p>
<button class="editPostButton" data-id="{{post_id}}">Редагувати</button>
<button class="deletePostButton" data-id="{{post_id}}">Видалити</button>
<div class="commentsContainer" data-id="{{post_id}}">
<h3>Коментарі:</h3>
<ul>
  {{#each coments}}
<li>{{comment}}</li>
 {{/each}}
</ul>
<form class="createCommentForm">
<input type="text" class="commentInput" placeholder="Новий коментар" required>
<button type="submit">Додати коментар</button>
</form>
</div>
</div>
 {{/each}}